{% if page_obj.paginator.num_pages > 1 %}
<nav>
  <ul class="pagination mb-0">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?{{ request.GET.urlencode|cut:'page='|cut:page_obj.number|stringformat:'s' }}&page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Anterior</span></li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?{{ request.GET.urlencode|cut:'page='|cut:page_obj.number|stringformat:'s' }}&page={{ page_obj.next_page_number }}">Siguiente</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
